.navbar-inverse {
    background-color: #140E30;
    border-color: #140E30;
}

.navbar-inverse .navbar-nav>li>a {
    color: aliceblue;
    font-weight: 500;
}

.navbar-brand{
    color: aliceblue;
}
#searchBoxContainer{
    display: none;
}
#searchBox{

}
@media (max-width: 700px) {
    #myCarousel{
        display: none;
    }
    #searchBoxContainer {
        display: block;
    }
    
    .tile {
        margin-right: 19px !important;
        margin-bottom: 0px !important;
        margin-top: 15px !important;        
    }
    .pull-tile-right {
        float: left!important;
    }
}
@media (max-width: 1000px) {
    #searchBoxContainer {
        /*margin-bottom: 150px;*/
        padding-top: 95px;
    }
}

.full_width {
    width: 100%;
}
.form-control{
    margin-bottom: 10px;
    border-left-width: 8px;
}

#nextPrev button {
    margin-left: 12px;
    margin-bottom: 10px;
}

input[required].ng-pristine {
    border-right-color: red;
    border-right-width: 2px;
}

input.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}

#loading {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.cursorHand{
    cursor: pointer;
}
.panel-success>.panel-heading {
    color: #FFFFFF;
    background-color: #5AB335;
    border-color: #5AB335;
    margin-top: -1px;
}
.panel-heading{
    height: 45px;
}
.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}
#myCarousel{
    z-index: -1;
}
#searchDesktopBox{
    margin-top: -350px;
    margin-left: 20px;
}
#searchBoxContainerDesktop .panel-success{
    width: 350px;
    opacity: .90;
}

#myCarousel{
    box-shadow: 8px 5px 7px #140E30;
}
#myCarousel{
        height: 400px;
}

#recentRide{
    background-color: #D28F00;
    border-color: #D28F00;
}
.thumbnail {
float: left;
margin-right: 16px;
}
#recentRideContainer{
    height: 600px;
    overflow: auto;
}
#searchBoxFilter .panel{
	height: 65px;
}
.searchFilter{
    margin-top: 10px;
    padding: 8px 15px;
    list-style: none;
    background-color: #86BE3E;
    border-radius: 4px;
}
.paddingtop{
    padding-top: 8px;
}
.centertext{
    text-align: center;
}
.tile {
    width: 120px;
    height: 120px;
    margin-right: 63px;
    margin-bottom: 15px;
    margin-top: 75px;
    z-index: 1;
    border-radius: 100%;
    background-color: RED;
    border-width: 5px;
    cursor:pointer;
    border: 5px;
    border-style: solid;
    background-image: none;
}
.tile:hover{
    background-color: GREEN;
    background-image:none;
}
.pull-tile-right {
    float: right;
}
.fade.in{
    width: 100%;
    height: 100%;
}

.tile-text {
    font-size: 15px;
    color: white;
    background: rgb(24, 42, 22);
    /*opacity: .9;*/
    text-align: center;
    margin-top: 68px;
    border-style: outset;
    border-color: #765BF2;
}
.dashboard-bg-color{
    background-color:#F2FFFA;
    height:80%;
}
.dashboard-header{
    background-color:#379B20;
    color:white;
    height: 70px;
    font-size:20px;
}
.dashboard-help-title{
    margin-top: 20px;
    font-size: 26px;
    width: 100%;
    background: #D4E1FD;
    color: #594A9E;
    border-radius: 6px;
    text-align: center;
}
.dashboard-help-title #message{
    /*margin-top: 30px;*/
}
.circle{
    border-radius: 100%;
}
.dashboard-header div{
    margin-top: 5px;
    font-size: 28px;
}
.panel-heading h4{
    margin-top: 5px;
}
.dashboard-box{
    margin-top: 35px;
}
.pink-background{
    background:#E22727 !important;
}
.blue-background{
    background:#586AE4 !important;
}
.yellow-background{
    background:#DD8F17 !important;
}
.myride{
background-image: url('../../img/car.jpg');
}
.profile{
background-image: url('../../img/profile.jpg');
}
.message{
background-image: url('../../img/message.jpg');
}
.offerride{
    background-image: url('../../img/offerride.jpg');
}