.navbar-inverse {
background-color: rgb(30, 94, 147);
border-color: rgb(30, 94, 147);
}

.navbar-inverse .navbar-nav>li>a {
color: aliceblue;
font-weight: 500;
}

.navbar-brand{
color: aliceblue;
}
#searchBoxContainer{
/*background: cornflowerblue;*/
height: 69px;
margin-bottom: 20px;
}
#searchBox{

}
@media (max-width: 700px) {
 #myCarousel{
    display: none;
  }
}
  @media (max-width: 1000px) {
  #searchBoxContainer {
    margin-bottom: 150px;
  }
  }
  
.full_width {
width: 100%;
}
.form-control{
margin-bottom: 10px;
border-left-width: 8px;
}

#nextPrev button {
margin-left: 12px;
margin-bottom: 10px;
}

input[required].ng-pristine {
border-right-color: red;
border-right-width: 2px;
}

input.ng-invalid.ng-dirty {
border-color: #e74c3c;
}

#loading {
position: absolute;
z-index: 3;
width: 100%;
height: 100%;
background: black;
opacity: .2;
}