<header id="myCarousel">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</header>

<!-- serach box for desktop -->
<div id='searchBoxContainerDesktop'>
    <div class="container col-md-3" id='searchDesktopBox'>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search Ride</h3>
            </div>
            <div class="panel-body">
                <div class="col">    

                    <div class="form-group move-down">
                        <input type="text" id="from" ng-model="from" class="form-control" 
                               ng-change="validateInput()" ng-autocompletemap="result1" details="details1" options="options1"/>
                    </div>
                    <div class="form-group move-down">
                        <input type="text" id="to" ng-model="to" class="form-control"
                               ng-autocompletemap="result2" details="details2" options="options2"/>
                    </div>
                    <div class="">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" 
                                   ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" 
                                   datepicker-options="dateOptions" close-text="Close" show-weeks="false" />

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>                
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="search()" ng-disabled="false">Search</button>
                    </div>
                </div>
            </div>
        </div>

    </div>    
</div>

<!-- search box for small screens -->
<div class="container-fluid"  id='searchBoxContainer'>
    <div class="container" id='searchBox'>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search Ride</h3>
            </div>
            <div class="panel-body">
                <div class="row">    

                    <div class=" col-md-3 form-group move-down">
                        <input type="text" id="from" ng-model="from" class="form-control" 
                               ng-change="validateInput()" ng-autocompletemap="result1" details="details1" options="options1"/>
                    </div>
                    <div class=" col-md-3 form-group move-down">
                        <input type="text" id="to" ng-model="to" class="form-control"
                               ng-autocompletemap="result2" details="details2" options="options2"/>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd-MMM-yyyy" 
                                   ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" 
                                   datepicker-options="dateOptions" close-text="Close" show-weeks="false" />

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>                
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="search()" ng-disabled="false">Search</button>
                    </div>
                </div>
            </div>
        </div>

    </div>    
</div>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <!--Sharing is Joy!!-->
            </h1>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Sharing is Joy</h4>
                    <!--
Joy of saving money.
Joy of saving enviroment.
Joy of reducing pollution.
Joy of saving fuel.
Joy of travelling with people and make friends.
-->
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/170x145" alt="">
                    <p>Do you know 5000metric tons of pollution is caused due to pollutions from Cars. In a survey it was found that most of the
                        Car owner travel alone. Share your ride to Save Money & reduce pollution.</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Frequent Flyers</h4>
                </div>
                <div class="panel-body col-md-4">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/130x150" alt="">
                    <h3>Neeraj Kukreti</h3>
                    <ul>
                        <li>CO2 Saved: 5Kg</li>
                        <li>Rides Offered: 10</li>
                        <li>Rides Taken : 5</li>
                    </ul>
                </div>
                <div class="panel-body col-md-4">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/130x150" alt="">
                    <h3>Anubhav Bhatt</h3>
                    <ul>
                        <li>CO2 Saved: 3.5Kg</li>
                        <li>Rides Offered: 6</li>
                        <li>Rides Taken : 9</li>
                    </ul>
                </div>
                <div class="panel-body col-md-4">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/130x150" alt="">
                    <h3>Pankaj Negi</h3>
                    <ul>
                        <li>CO2 Saved: 3.5Kg</li>
                        <li>Rides Offered: 6</li>
                        <li>Rides Taken : 9</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="recentRide">
                    <h4><i class="fa fa-fw fa-compass"></i> Recent Ride</h4>
                </div>
            </div>
            <div id="recentRideContainer">
                <div ng-repeat='ride in recentRides'>
                    <a href='#/rideDetail/{{ride.id}}'>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><i class="fa fa-fw fa-compass"></i> {{ride.rfrom}} to {{ride.rto}}</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                                <a href="#" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Testimonial
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Wonderful Service</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                    <p>This is a very wonderful service. I save more Rs2000 every month by sharing ride to my hometown and this way help in saving enviroment too.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Traveling alone ware Boring</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                    <p>Traveling alone was so boring ealier. Now I can find people to chit chat while travelling to my home and save some bucks too.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Save Money Save Enviroment</h4>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                    <p>This concept is preety cool and help each of us to contribute in perserving our enviroment.
                        I suggested my all friends to use this platform for ride sharing and reduce pollution. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->