<div>
    <accordion close-others="oneAtATime">
      <accordion-group is-open="isOpen">
        <accordion-heading>
          Rides Posted <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
        </accordion-heading>
        body1
      </accordion-group>
    </accordion>
    <accordion close-others="oneAtATime">
      <accordion-group is-open="isOpen">
        <accordion-heading>
          Rides Hosted<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
        </accordion-heading>
        body2
      </accordion-group>
    </accordion>
  </div>