<div class="form-group">
					<label>Name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Email</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Age</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Job</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>