<tabset>
    <tab heading="Personal Info">
    	<div class="form-group">
					<label>Name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Email</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Age</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
        <div class="form-group">
					<label>Job</label>
					<input type="" name="" class="form-control" id="" value="">
		</div>
    </tab>
    <tab heading="Preferences">
    	Content for preferences selection
    </tab>
    <tab heading="Add Car">
    	Option to add car
    </tab>
    <!-- <tab select="alertMe()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
     -->
</tabset>

