<link href="css/custom/profile.css" rel="stylesheet">
<!-- Page Content -->
    <div class="container dashboard-bg-color">
        <div>

            <!-- Page Heading/Breadcrumbs -->
            <div class="row dashboard-header">
                <div class="col-lg-12">
                    {{userObject.firstname}} Dashboard
                    <img class='circle pull-right' ng-src="http://graph.facebook.com/{{userObject.fb_id}}/picture?width=60&amp;height=60" alt="User photo" img-fallback="">                 
                </div>
            </div>
            <!-- /.row -->
            <div class="col-sm-12 dashboard-help-title"><div id='message'>Select Operation to perform</div></div>    
            <!-- Intro Content -->
            <div class="col-sm-6">
                <div class="row show-grid pull-tile-right">
                    <div class="col-xs-8 col-sm-6 tile" ng-click="loadWindow('profile')">
                        <div class="tile-text">Profile</div>
                    </div>
                    <div class="col-xs-4 col-sm-6 tile" ng-click="loadWindow('offerRide')">
                        <div class="tile-text">Offer Ride</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row show-grid">
                    <div class="col-xs-8 col-sm-6 tile" ng-click="loadWindow('showRide')">
                        <div class="tile-text">My Ride</div>
                    </div>
                    <div class="col-xs-4 col-sm-6 tile" ng-click="loadWindow('messages')">
                        <div class="tile-text">Messages</div>
                    </div>
                </div>
            </div>
            <br />
            <!-- /.row -->      
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 dashboard-box">
                <div class="panel panel-default">
                    <div class="panel-heading blue-background">
                        <h4><i class="fa fa-fw fa-gift"></i> Score Card</h4>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                        <p>This section would contain user score card.</p>
                        <p>Miles Traveled with us</p>
                        <p>CO2 saved</p>
                        <p>$Money Saved</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dashboard-box">
                <div class="panel panel-default">
                    <div class="panel-heading pink-background">
                        <h4><i class="fa fa-fw fa-gift"></i> Suggested Rides</h4>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                        <p>Some suggested Rides</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 dashboard-box">
                <div class="panel panel-default">
                    <div class="panel-heading yellow-background">
                        <h4><i class="fa fa-fw fa-compass"></i> Some Stuff</h4>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive img-portfolio img-hover thumbnail" src="http://placehold.it/100x125" alt="">
                        <p>Put some more stuff here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->